# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\自适应梯度下降\AdaSGD-D\AdaSGD-D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
